@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
/* 
text-primary : #7450a8 =======> purple
bg-primary : #7450a8



 */
 a{
        text-decoration: none !important;
 }
 .bg-primary{
     background-color: #7450a8 !important;
    
 }
 .text-primary{
     color: #7450a8 !important;
 }
 .btn-outline-primary {
    color: #7450a8 ;
    border-color: #7450a8 ;
}
 .btn-outline-primary:hover {
    background-color: #7450a8 !important;
    
}
 .btn-outline-primary:hover .text{
    color: #fff !important;
}

body{
    font-family: 'Roboto', sans-serif;
}

.nav-link.active{
    color: rgba(0,0,0,.55) !important;
    border-bottom: 2px solid rgba(0,0,0,.55);
}
.nav-item:hover a{
    color: #7450a8 !important;
    border-bottom: 2px solid #7450a8;
}

header ul{
    text-decoration: none;
}
header ul li {
    list-style: none;
    margin: 0 10px;
}

.about::before{
    
    content: "";
    background-image: url(../images/dots-bg.svg);
    display: block;
    height: 30px;
    left: 40%;
    top: 31px;
    position: relative;
    width: 37px;
}
#skills div {
    margin: 0 10px;
    /* cursor: pointer !important; */
}
#skills div a{
    text-decoration: none;
    padding: 5px 10px;
   
    cursor: pointer !important;

}
.my-skills{
    background: #f9f9ff;
}

.fa-solid{
    color:#7450a8;
}
.hireMe{
    background-image: linear-gradient(#5A20CB, #8D3DAF);
}

#mapbg{
    background-image: url(../images/map_bg.svg);
    background-repeat: no-repeat;  
}
.required {
    color: red;
  }


  @media screen and (min-width: 668px) and (max-width:991px) {
    header .row{
        height: 65vh;
        width: 100%;
    }
  }
  @media screen and (min-width: 991px)  {
    header .row{
        height: 95vh;
        width: 100%;
    }
  }













/* owl carosel */

.owl-theme .owl-dots .owl-dot.active span{
    background-color: #7450a8 !important;
}

.owl-theme .owl-dots .owl-dot span {
    width: 30px;
    height: 10px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    
    /* transition: opacity .2s ease; */
    border-radius: 30px;
}